footer {
    margin-top: 100px;
}

#social-toggle {
    text-align: center;
    margin-top: 30px;
}
h1 {
    text-align: center;
    color: #334F60;
}
h1 a,
h2 a {
    color: #334F60;
}
.navbar .brand {
    font-family: 'IM Fell English', serif;
    font-size: 36px;
    text-align: center;
    padding: 0px 20px 1px; 
}

a {
    color: #CE1433;
}

#social-toggle a {
    color: #334F60;
}
.nav {
    font-size: 20px;
    font-family: 'IM Fell English', serif;
    font-weight: normal;
    padding: 0px 20px 0px; 
}

.navbar .nav {
    float: right;
}

/*
body {
    padding-top: 40px; 
} 
*/

/* fix boostrap style for long titles */
h1.title {
    line-height: 36px;
}
.page-header h1 {
    line-height: 36px;
}

h2.title {
    line-height: 30px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.navbar .nav .active {
    background-color: #293F4D;
    color: #C0CDCF;
}

.navbar .nav > li > a {
    color: #C0CDCF;
}

#social-post {
    padding-top: 30px;
}

.page-header{
    padding-bottom: 5px;
    padding-top: 35px;
    border-bottom: 0px;
}

@media (max-width: 480px){
    body {
        font-size: 12px;
        line-height: 18px;
    }
    .page-header h1,
    h1 {
        font-size: 18px;
        line-height: 20px;
    }
    h2 {
        font-size: 16px;
        line-height: 20px;
    }
    p,
    li,
    ul {
        font-size: 12px;
        line-height: 18px;
    }
    .page-header {
        padding-top: 0px;
        margin-top: 0px;
    }
    .nav li {
        font-size: 20px;
    }
} 


/* proper separation between posts in lists */

.list-post {
    margin-top: 20px;
}

span.IN-widget {
    width: 110px;
    text-align: left;
}

div#___plusone_0{
    width: 110px;
}

/* make paragraphs be inline */
.post_content li p {
    display: inline;
}

.post_content li {
    margin-top: 10px;
    margin-bottom: 10px;
}
 