---
layout: nil
description: Disclojure posts daily summaries of selected development
   topics.
section: home
---
<!doctype html>
<html lang="en">
  {% include header.html %}
  
  <body>
    {% include navbar.html %}
    {% comment %} "wrapper" is needed for sticky footnote {% endcomment %}
    <div class="container wrapper">
      {% comment %}
      <section id="banner">
        {% include banner-main.html %}
      </section>
      {% endcomment %}      
      
      {% assign post = site.posts.first %} 
      
      <div class="row">
        <div class="span8 offset2">
          {% if post.layout == 'legacy-post' %}
          {% include legacy-post.html %}
          {% else %}
          {% include post.html %}
          {% endif %}
        </div>
      </div> <!-- post row -->
      
      <div class="row archive-link">
        <div class="span8 offset2">
          <h2><a href="/latest" title="Latest Intertweets">
              &larr; Older Intertweets </a></h2> </div> </div>
      {% comment %} "push" is required for the sticky footer {% endcomment %}
      <div class="push"></div>
    </div>
    {% include footer.html %}
    
  </body>
</html>
