{% comment %}
Assign atom = true if this is an index page that has a corresponding atom page
{% endcomment %}
<head>
  <meta charset="utf-8" />
  <!-- make small devices show the site without zooming out -->
  <meta name="viewport" content="initial-scale=1.0, width=device-width, maximum-scale=1.0"/>
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <title>
       {% if page.title %}
          {% if post.layout == post %}
             {{ page.title }}, {{ page.date | date: "%b %d"}} &mdash;
          {% else %}
             {{ page.title }} &mdash; 
          {% endif %}
       {% endif %}
       {{ site.name }}
  </title>
  <link rel="stylesheet" type="text/css" 
        href="{{ site.baseurl }}/css/bootstrap.min.css">
      <style type="text/css">
      body {
        padding-top: 40px;
      }
    </style>
      <link rel="stylesheet" type="text/css"
            href="{{ site.baseurl }}/css/bootstrap-responsive.min.css">
  <link rel="stylesheet" type="text/css" href="/css/disclojure.css">
  <link href='http://fonts.googleapis.com/css?family=IM+Fell+English'
        rel='stylesheet' type='text/css'>
  <link rel="alternate" type="application/rss+xml" title="RSS 2.0 Feed" 
        href="http://feeds.feedburner.com/disclojure" /> 
  <link rel="shortcut icon" href="/img/favicon.ico"/>
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{site.google-analytics-id}}']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  </script>
  {% if atom == true %}
  <link rel="alternate" type="application/rss+xml" title="RSS"
        href="atom.xml">
  {% endif %}

  {% if page.description %}
  <meta name="description" content="{{page.description}}" />
  {% else %}
    {% if page.summary %}
      <meta name="description" content="{{page.summary}}" />
    {% else %}
      <meta name="description" content="{{site.description}}" />
    {% endif %}
  {% endif %}

</head>
