{% comment %}
"wrapper" is required for the sticky footer
{% endcomment %}
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <div class="row">
        <div class="span8 offset2">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span> 
          </a>
          <a class="brand" href="/">disclojure</a> 
          <div class="nav-collapse">
            <ul class="nav">
              {% include navigation.html %}
            </ul>
          </div> 
        </div> <!-- span8 offset2 -->
      </div> <!-- row -->
    </div>
  </div>
</div>
