{% comment %}
"wrapper" is required for the sticky footer
{% endcomment %}
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">

      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      
      <!-- Be sure to leave the brand out there if you want it shown -->
      <a class="brand" href="#">disclojure</a>

      <div class="nav-collapse">
        <ul class="nav">
          <li class="divider-vertical"></li>
          <li class="active">
            <a href="/">Home</a> </li>
          <!-- not yet, not yet... 
          <li><a href="/where-to-start/">Where to start with Clojure</a><li>
            -->
        </ul>
      </div>

    </div>
  </div>
</div>
