<div class="content">
  <div class="page-header">
    {% if post.title %}
      {% assign title = {{post.title}} %}
    {% else %}
      {% assign title = 'Today in the Intertweets' %}
    {% endif %}
      <h1 class="title">
        <a href="{{post.url}}" title="{{post.title}} &mdash; {{post.date | date: "%b %d"}}">
          {{post.title}}  &mdash; {{post.date | date: "%b %d"}}</a></h1>
  </div>
  <div class="post_content">
    {{ post.content | markdownify}}
    <dl>
      {% for it in post.intertweets %}
      <dt><a href="{{it.url}}">{{ it.tweet }}</a> 
        (via <a href="http://twitter.com/{{it.author}}">@{{it.author}}</a>)</dt>
      <dd>{{it.comment | markdownify }}</dd>
      {% endfor %}
    </dl>
  </div>
  <div id="social-toggle">
      <a class="dsq-comment-count comment-link commentslink"
           href="#disqus_thread_" data-toggle="collapse"
           data-target="#social-post">
          Comment
      </a>
      <a data-toggle="collapse" data-target="#social-post">
        / <span id="twitter-count"></span> Tweets / Share</a>
  </div>
  <div class="row">
    {% assign share-url = post.url %}
    {% assign share-title = post.title %}
      {% include social-post.html %}
  </div>
</div><!--content-->
