<div class="content">
  <div class="page-header">
    {% if post.title %}
      <h1 class="title">
        <a href="{{post.url}}" title="{{post.title}}">
          {{post.title}}</a></h1>
    {% endif %}
  </div>
  <div class="post_content">
    {{ post.content }}
  </div>
  <div id="social-toggle">
      <a class="dsq-comment-count comment-link commentslink"
           href="#disqus_thread_" data-toggle="collapse"
           data-target="#social-post">
          Comment
      </a>
      <a data-toggle="collapse" data-target="#social-post">
        / <span id="twitter-count"></span> Tweets / Share</a>
  </div>
  <div class="row">
    {% assign share-url = post.url %}
    {% assign share-title = post.title %}
      {% include social-post.html %}
  </div>
</div><!--content-->
