<div class="content">
  <div class="page-header">
    {% if post.title %}
      {% assign title = {{post.title}} %}
    {% else %}
      {% assign title = 'Today in the Intertweets' %}
    {% endif %}
      <h1 class="title">
        <a href="{{post.url}}" title="{{post.title}} &mdash; {{post.date | date: "%b %d"}}">
          {{post.title}}  &mdash; {{post.date | date: "%b %d"}}</a></h1>
  </div>
  {% include intertweets-list.html %}
  <div class="row">
    {% assign share-url = post.url %}
    {% assign share-title = post.title %}
      {% include social-post.html %}
  </div>
</div><!--content-->
