---
layout: nil
description: The Latest Clojure Intertweets
title: The Latest Clojure Intertweets
section: latest
---
<!doctype html>
<html lang="en">
  {% include header.html %}
  <body>
    {% include navbar.html %}
    {% comment %} "wrapper" is needed for sticky footnote {% endcomment %}
    <div class="container wrapper">
      {% comment %}
      <section id="banner">
        {% include banner-main.html %}
      </section>
      {% endcomment %}      
      <div class="row">
        <div class="span8 offset2">
          <section id="news" 
                   title="{{ page.title }}">
            <div class="page-header">
              <h1>{{ page.title }}</h1> </div>
            {% for post in site.posts limit: 10 %}
            <div class="row">
              <h2 class="title"><a href="{{post.url}}">{{ post.title}}</a></h2>
              <div class="post_content">
                {{ post.content }}
              </div>
            </div> <!-- row -->
            {% endfor %}

            <div class="row archive-link">
              <h2><a href="/archive" title="Intertweet Archive">
                  &larr; The Intertweet Archive </a> 
                <a href="/" class="pull-right">Newest Intertweet &rarr;</a></h2></div>
          </section>
        </div>
        {% comment %} "push" is required for the sticky footer {% endcomment %}
        <div class="push"></div>
      </div>
      {% include footer.html %}
    
  </body>
</html>
